.calculator{
    height: 50vh;
    width:20vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    margin: 10px;
}
.screen{
    height: 8vh;
    color: white;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}
.keypad{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.button{
    height: 6vh;
    width: 3vw;
    background-color: white;
    border-radius: 5px;
    margin: 8px;
}
.equal{
    background-color: orange;
}